{% load staticfiles bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Interactive Parallelization Tool</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
          <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand"><img src="{% static 'images/IPT-Fut.svg' %}"></a>
              <!--<a class="navbar-brand">Interactive Parallelization Tool</a> -->
          </div>

          <ul class="nav navbar-nav navbar-right">
              {% if request.session.access_token %}
                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
              {% else %}
                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-out"></span> Login</a></li>
              {% endif %}
          </ul>
      </div>
  </nav>
  <div class="main-banner">
    <p><img src="{% static 'images/IPT-Banner.jpg' %}" class="img-responsive" alt="IPT Banner"></p>
  </div>

  <!--Tabs-->
  <div class="container">
    <ul class="nav nav-tabs">
        <li id='terminal-tab'><a href="{% url 'terminal' %}">Terminal</a></li>
        <li id='compile-tab'><a href="{% url 'compile' %}">Compile</a></li>
        <li id='run-tab'><a href="{% url 'run' %}">Run</a></li>
        <li id='history-tab'><a href="{% url 'history' %}">Job History</a></li>
        <li id='help-tab'><a href="{% url 'help' %}">Help</a></li>
      {% if admin %}
        <li id='admin-tab'><a href="{% url 'admin' %}">Admin</a></li>
      {% endif %}
    </ul>
  <!-- End Tabs -->

    <div class="tab-content">
      {% block header %}{% endblock %}
      {% block headersum %}{% endblock %}

      <!-- <div class="messages">
        {% for message in messages %}
          <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
        {% endfor %}
      </div> -->

      {% bootstrap_messages %}

      {% block body %}{% endblock %}
    </div>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
        <!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
